html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: none repeat scroll 0 0 #F4FFFB;
}

.footer {
    position: relative;
    bottom:0;
    width: 100%;

}



.left-aside p {
    color: #c0c2c5;
}

body > .container {
    padding:60px 15px 40px;
    background: none repeat scroll 0 0 white;
}

header {
    background-image: url("/img/banner/doctors.jpg");
    background-size: 100% auto;
    height: 250px;
    left: -15px;
    position: relative;
    width: 103%;
    margin-bottom: 20px;
}

.banner-text {
    border-radius: 0;
    bottom: 0;
    opacity: 0.68;
    position: absolute;
    width: 415px;
}

.left-aside {
    float: left;
    width: 30%;
}
.right-aside{
    float: right;
    width: 30%;
}

.right-content {
    float: right;
    padding-left: 20px;
    width: 70%;
    margin-bottom: 20px;
}

.left-content {
    float: left;
    width: 70%;
    margin-bottom: 20px;
    padding-right: 20px;
}
.right-content h1 {
    margin-top: 0;
}

.simpleSearch {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-left: 20px;
    padding-top: 20px;
    width: 50%;
}

.fullSearch{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-left: 20px;
    padding-top: 20px;
    width: 50%;
}

.fullSearch label {
    float: left;
    text-align: right;
}

.fullSearch input[type="text"] {
    float: right;
    width: 70%;
}

.simpleSearch input[type="text"] {
    float: right;
    width: 300px;
}

.simpleSearch input[type="submit"] {
    float: right;
}

#login-button {
    position: absolute;
    right: 35px;
    top: 35px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}
.footer > .container {
    padding-top:20px;
    padding-right: 15px;
    padding-left: 15px;
}

.footer-nav {
    float: left;
    width: 150px;
    padding-left: 50px;
    padding-right: 50px;
    border-left: 1px solid #aeaec0;
    border-right: 1px solid #aeaec0;
}

.footer > .container > p {
    margin: 20px 0;
}

.error-template {
    padding: 40px 15px;
    text-align: center;
}

.error-actions {
    margin-top: 15px;
    margin-bottom: 15px;
}

.error-actions .btn {
    margin-right: 10px;
}

#login-panel {
    width: 400px;
    margin: 0 auto;
}

#registration-panel {
    width: 450px;
    margin: 0 auto;
}

.error-password {
    color: indianred;
}

.required:before {
    content:"* ";
    color: indianred;
    font-weight: bold;
}

#login-panel form {
    margin: 0;
}

.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 60px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

@media (min-width: 992px) {
    #registration-panel {
        width: 900px;
        margin: 0 auto;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

/*
 * Main content
 */

.main {
    padding: 20px;
    top: 60px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

.placeholders h4 {
    margin-bottom: 0;
}

.placeholder {
    margin-bottom: 20px;
}

.placeholder img {
    display: inline-block;
    border-radius: 50%;
}


.fade{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    z-index:1001;
    -moz-opacity: 0.8;
    opacity: 0.6;

}

.white_content {
    background-color: white;
    display: none;
    left: 30%;
    overflow: auto;
    padding: 16px;
    position: fixed;
    top: 10%;
    width: 550px;
    z-index: 1002;
}

.white_content_login {

    display: none;
    left: 30%;
    overflow: auto;

    position: fixed;
    top: 10%;

    z-index: 1002;
}

.head{
    background: none repeat scroll 0 0 #F4FFFB;
    margin-bottom: 20px;
    padding: 25px;
    margin-left: -15px;
    margin-right: -15px;
}
/* ---------------------------------------- doktor search -----------------------------*/

.item {
    background: #f0fafa none repeat scroll 0 0;
    float: left;
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
}

.item-avatar img {

    border-radius: 5px;
}

.item-info > ul {
    list-style: outside none none;
}

.item-info ul li span {
    font-weight: bold;
}

.item ul {
    list-style: outside none none;
    padding-left: 0;
}

.item h3 {
    margin-top: 0;
}

/* ---------------------------------------- doktor detail -----------------------------*/

.detail-doktor {

}

.detail-doktor h3 {
    margin-top: 0;
}

.detail-doktor ul {
    list-style: outside none none;
    padding: 0;
}

.detail-doktor ul li {
    padding: 0;
}

/*-------------------------------------- doktor detail table --------------------------------*/
.not-free {
    background: none repeat scroll 0 0 pink;
    border: 1px solid white;
    border-radius: 5px;
    display: block;
    font-size: 12px;
    padding: 5px;
    text-align: center;
}

.list-days td {
    padding: 10px;
}

.list-days thead {
    border-bottom: 2px solid #2c3e50;
}

.list-days th {
    padding-bottom: 5px;
    padding-left: 10px;
}

.time {
    background: none repeat scroll 0 0 lightgreen;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    padding: 5px;
    text-align: center;
}
.objednavka {
    background: none repeat scroll 0 0 lightgreen;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}


.popup .control-buttons-tab {
    float: right;
}

.popup label {
    width: 160px ;
    vertical-align: top;
}

.popup textarea {
    width: 300px;
}

.floating-buttons {
    display: block;
    text-align: right;
}